body {
	background-color:black;
}

h1 {
	color:white;
	font-size: 48px;
}

h2 {
	color:white;
	font-size: 38px;
}


p {
	color:white;
	font-size: 28px;
}

.ctr{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}